/* .container - Contêiner principal da página */
.container {
  background-color: #0f0f0f; /* Cor de fundo escura para a página */
  width: 100vw; /* Largura de 100% da largura da viewport */
  height: calc(
    100vh - 76px
  ); /* Altura de 100% da viewport menos 76px (provavelmente para ajustar o cabeçalho) */
  display: flex; /* Utiliza flexbox para layout */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  flex-direction: column; /* Organiza os itens em uma coluna */
}

/* .logoContent - Contêiner que envolve a logo */
.logoContent {
  display: flex; /* Flexbox para layout */
  flex-direction: column; /* Coloca os itens (logo) em uma coluna */
  align-items: center; /* Centraliza a logo horizontalmente */
  justify-content: center; /* Centraliza a logo verticalmente */
}

/* .hero - Estilo para a imagem da logo */
.hero {
  width: auto; /* Largura automática para manter a proporção da imagem */
  height: auto; /* Altura automática para manter a proporção da imagem */
  object-fit: contain; /* Faz com que a imagem se ajuste dentro da área sem distorcer */
}

/* .title - Estilo para o título da página */
.title {
  color: #fff; /* Cor do texto branca */
  text-align: center; /* Centraliza o texto */
  margin: 28px; /* Adiciona margem ao redor do título */
  line-height: 150%; /* Aumenta a altura da linha para melhorar a legibilidade */
}

/* .infoContent - Contêiner para exibir as informações (posts e comentários) */
.infoContent {
  display: flex; /* Flexbox para layout */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  justify-content: space-around; /* Espaça os itens igualmente entre si */
}

/* .box - Estilo para cada caixa que exibe o número de posts e comentários */
.box {
  background-color: #fafafa; /* Cor de fundo clara para a caixa */
  padding: 14px 44px; /* Padding interno para afastar o conteúdo das bordas */
  border-radius: 4px; /* Bordas arredondadas */
  transition: transform 0.5s; /* Transição suave ao aplicar a transformação */
}

/* .box:hover - Efeito ao passar o mouse sobre a caixa */
.box:hover {
  transform: scale(
    1.08
  ); /* Aumenta ligeiramente o tamanho da caixa ao passar o mouse */
}

/* Estilos para telas menores (máximo de 580px de largura) */
@media (max-width: 580px) {
  /* .hero - Ajuste para a imagem na tela menor */
  .hero {
    max-width: 80%; /* Define a largura máxima da imagem como 80% da tela */
  }

  /* .title - Ajusta o tamanho do texto para telas menores */
  .title {
    font-size: 1.5rem; /* Reduz o tamanho da fonte do título */
  }

  /* .infoContent - Ajusta o layout para telas menores */
  .infoContent {
    flex-direction: column; /* Coloca os itens na coluna */
    gap: 10px; /* Adiciona espaçamento entre os itens */
    padding-bottom: 10px; /* Adiciona um pouco de espaçamento na parte inferior */
  }

  /* .box - Ajusta o tamanho das caixas para telas menores */
  .box {
    width: 80%; /* Largura de 80% da tela */
    text-align: center; /* Centraliza o texto dentro da caixa */
  }
}
